---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

During my Ph.D. and Postdoc at the University of Southampton, I have been involved in teaching activities for undergraduate and postgraduate students.
Teaching topics include cyber security, software engineering, and distributed systems. In addition, I supervised several students for their final projects
and dissertations. In particular, 4 B.Sc. Computer Science students and 2 M.Sc (grades B+ and A). Cyber Security students.

{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}

